.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 150px; /* space for sticky input */
}


.timeline-row {
    margin: 2rem 0;
}

.card-left {
    margin-right: auto;    
}

.card-right {
    text-align: end;
    margin-left: auto;
}

.card {
    width: 100%;
    margin-bottom: 5px;
}

.timestamp {
    font-size: 0.75rem;
    color: #6c757d;
    margin-top: 5px;
    text-align: right;
}

.input-box {
    position: sticky;
    bottom: 60px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}