@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome to the Generic Chat Interface</h1>
<p>
    This is a simple chat interface that allows you to interact with a chat model. You can type your messages below and
    see the responses in real-time.
</p>
<img src="~/images/agent-group-600x600.png" alt="agent group communication" class="img-fluid mt-3 mb-3" />